<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>encrypt</servlet-name>
        <servlet-class>encrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>downloadEncrypted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>decrypt</servlet-name>
        <servlet-class>decrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadDecrypted</servlet-name>
        <servlet-class>downloadDecrypted</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>encrypt</servlet-name>
        <url-pattern>/enc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>decrypt</servlet-name>
        <url-pattern>/decrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadDecrypted</servlet-name>
        <url-pattern>/downloadd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
